/* style.css */
/* Style the entire Streamlit sidebar */
.css-1544g2n {
    padding: 6rem 1rem 1.5re /* Padding for the sidebar content */
}

/* Rectangular image style */
.rectangular-image {
    object-fit: cover;
    width: 200px; /* Adjust the width to your desired size */
    height: 100px; /* Adjust the height to your desired size */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow effect */
}

/* Custom button style */
.css-1ik2ge {
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding for the button */
    margin: 5px; /* Margin around the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

/* Hover effect for custom button */
.css-1ik2ge {
    background-color: #45a049; /* Darker background color on hover */
}

.css-1544g2n h1 {
    font-weight: bold; /* Make the title bold */
    font-size: 36px; /* Adjust the font size as needed */
    text-align: center; /* Center align the title horizontally */
    line-height: 1.2; /* Adjust the line height for vertical centering */
    margin-top: 30px; /* Add top margin for vertical centering */
    padding: 10px 0; /* Add padding to the header */
    
}

/* Style the image in the Streamlit sidebar 
.css-fg4pbf img {
    width: 150px; /* Adjust the width of the image as desired */
    /*height: auto; /* Automatically adjust the height to maintain aspect ratio */
    /*border-radius: 50%;  Make the image circular */
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect 
}
*/
